<h2><%= link_to "Billboards", billboards_path %>
<h2><%= link_to "Add new artist", new_artist_path%>

<% @artists.each do |artist|%>
  <h4><%= artist.full_name %></h4>
  <h5><%= link_to "View", artist_path(artist)%>
<% end %>