* {
  font-family: 'Rationale';
  margin: 20px;
}

.billboard {
  color:white;
  background-color: lightblue;
}

.artist_list {
  float: right;
  color: lightblue;
  justify-content: space-around;
}

.artist_name {
  text-align: center;
  font-size: 60px;
}

.artist_choices {
  text-align: center;
}